.emailAndPasswordInput {
   margin: .7em;
   width: 80%;
   height: 2em;
   padding: .2rem;
   border-radius: .2rem;
   background-color: rgb(244, 236, 230);
}

.login-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 1em;
   margin-left: 5em;
   margin-right: 5em;
   margin-bottom: 2.5em;
   width: 90%;
}

.login-header h2 {
   color: rgb(207, 133, 75);
   font-size: 2em;
   margin-bottom: .3em;
}

.login-header p {
   color: black;
   font-size: 1em;
}

.login-input {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-bottom: 1rem;
   width: 16rem;
   height: 1.2rem;
   border-radius: .25rem;
   border: .1rem solid lightgrey
}

.login-show-password {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: 90%;
   margin-right: 4em;
}

@media screen and (max-width: 1000px) {
   .logInContainer {
      width: 70%;
   }
}