

.calculator-container {
    width: 99vw;
    height: 89vh;
}

h2,
h3,
p {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

.transition-container {
    transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1), max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    height: 28rem;
    justify-self: center;
    position: relative;
    top: 10rem;
    width: 50%;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.transition-container.expand {
    max-height: max-content;
    background-color: transparent;
    box-shadow: none;
}

.details-form {
    background-color: rgb(211, 211, 211);
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.address-logistics-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    justify-items: center;
}

.load-details-row {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    justify-items: flex-start;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.route-details-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.address-field {
    width: 16rem;
}

.route-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.load-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    border-left: .1rem solid lightgray;
}

.route-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.route-row {
    width: 90%;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 1rem;
}

.results-container {
    width: 55rem;
    height: auto;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
}

.results-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.main-details-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    width: 55rem;
}

.banner-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .5rem;
    width: 14rem;
    height: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.details-addresses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.details-address-row {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-items: flex-start;
    width: 100%;
}

.details-info {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.breakdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: .5rem;
    align-self: center;
    width: 100%;
}

.profit-summary {
    width: 100%;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
}

.revenue-expenses {
    width: 100%;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
}

.results-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    width: 70%;
    padding: .1rem;
    margin-bottom: .2rem;
}

.results-group {
    padding: 1rem;
    width: 90%;
}

.route-btn-container {
    margin-top: 16rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.calc-route-button {
    background-color: #eb9225;
    color: white;
    border-radius: .5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
    width: 12rem;
    height: 3rem;
    margin-top: 2rem;
}

.add-route-button {
    background-color: #eb9225;
    color: white;
    border-radius: .5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
    width: 10rem;
    height: 3rem;
}

.cancel-route-button {
    background-color: white;
    color: black;
    border-radius: .5rem;
    font-size: 1.2rem;
    border: .1rem solid rgb(150, 150, 150);
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease;
    width: 10rem;
    height: 3rem;
}

.add-route-button:hover {
    background-color: #a9621b;
}

.calc-route-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

.cancel-route-button:hover {
    background-color: rgb(230, 230, 230);
}

@supports (-webkit-touch-callout: none) {
  .address-logistics-container,
  .details-form {
    min-height: -webkit-fill-available;
  }
}

@media screen and (max-width: 1000px) {

    .address-logistics-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90vw;
        height: -webkit-fill-available;
    }

    .details-form {
        width: 90vw;
        height: -webkit-fill-available;
    }

    .transition-container {
        width: 90vw;
        height: -webkit-fill-available;
        margin-top: 2rem;
        transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1), max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .route-details {
        width: 100%;
    }

    .load-details {
        border-left: none;
    }

    .results-container {
        width: 90vw;
        height: -webkit-fill-available;
    }

    .main-details-banner {
        width: 100%;
    }

    .banner-card {
        width: 6.25rem;
        padding: .75rem;
        height: 2.5rem;
    }

    .banner-card h3,
    .banner-card h2 {
        font-size: .7rem;
    }

    .text-green {
        height: 1rem;
        width: 1rem;
    }

    .breakdown-container {
        height: 80vh;
        flex-direction: column;
    }

    .results-row {
        width: 82%;
    }

    .direct-sub-row {
        overflow: hidden;
        height: 0;
        /* start collapsed */
        opacity: 0;
        /* invisible */
        display: flex;
        margin-bottom: 0;
        padding: 0;
        /* stays flex but collapsed */
        transition: height 0.5s ease, opacity 0.3s ease;
    }

    .fixed-sub-row {
        overflow: hidden;
        height: 0;
        /* start collapsed */
        opacity: 0;
        /* invisible */
        display: flex;
        margin-bottom: 0;
        padding: 0;
        /* stays flex but collapsed */
        transition: height 0.5s ease, opacity 0.3s ease;
    }

    .other-sub-row {
        overflow: hidden;
        height: 0;
        /* start collapsed */
        opacity: 0;
        /* invisible */
        display: flex;
        margin-bottom: 0;
        padding: 0;
        /* stays flex but collapsed */
        transition: height 0.5s ease, opacity 0.3s ease;
    }

    .open {
        height: 1rem;
        /* larger than expected height */
        opacity: 1;
        padding: .1rem;
        margin-bottom: .2rem;
    }

    .profit-summary {
        height: 25rem;
    }

    .route-btn-container {
        margin-top: 2.5rem;
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}