.costsInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.tractorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: .6em;
}

.tractorSubContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 4rem;
}

.tractor {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.costsInput {
    width: 4rem;
    font-size: 1rem;
    background-color: rgb(255, 250, 241);
    border: .1rem solid black;
    border-radius: .2rem;
    padding: .1rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    padding: 1rem;
}

.graphContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-right: .1rem solid black;
}

.costsContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    width: 75%;
    height: 100%;
    margin-top: 3rem;
    border: .1rem solid black;
    background-color: white;
    border-radius: .5rem;
}

.operatingCostsContainer {
    width: 100%;
}

.fixedCostsContainer {
    width: 100%;
}

.costsHeaderContainer {
    margin: auto;
    width: 50%;
}

.costsItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .6em;
}

.costsLabel {
    margin-left: 2rem;
    font-size: 1.2rem;
}

.inputInstructions {
    font-size: 1rem;
    width: 80%;
}

.subHeaderContainer {
    margin-bottom: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#edit-btn:hover {
    cursor: pointer;
}

.cancelX {
    color: red;
    font-size: 1.7rem;
}

.confirmCheck {
    color: green;
    font-size: 1.7rem;
}

@media screen and (max-width: 1000px) {

    .costsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

    .graphContainer {
        width: 80%;
        height: 16rem;
        margin-bottom: 1rem;
    }

    .infoContainer {
        width: 80%;
    }
}