h2,
h3,
p {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

.subItemLabel {
  color: black
}

.subItemValue {
  color: black;
  margin-left: 40%
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 80%;
  gap: .5rem;
}

.moneyBar {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
  justify-items: center;
}

.moneyBarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 7rem;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.moneyBarSubItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.moneyBarLabel {
  font-size: 1.2rem;
  color: black;
}

.moneyBarLabel:hover {
  cursor: pointer;
}

.chartContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  width: 100%;
  gap: .3rem;
  justify-items: center;
}

.google-visualization-table-table td,
.google-visualization-table-table th {
  min-width: 140px;
  padding: 4px 8px !important;
  height: 20px !important;
  font-size: 14px;
}

.google-visualization-table-table th {
  background-color: rgb(223, 223, 223);
}

.google-visualization-table-div-page {
  display: none !important;
}

.lineChartContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 35vh;
  border-radius: .5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.pieChartContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 35vh;
  border-radius: .5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.table-container {
  width: 98.5%;
  min-height: 10rem;
  background-color: white;
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lineChartContainer > div,
.pieChartContainer > div {
  width: 100% !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.placeholder-dashboard {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.placeholder-overlay {
  z-index: 2;
  position: fixed;
  left: 15%;
  background-color: rgba(71, 71, 71, 0.259);
  height: 93vh;
  width: 70%;
}

@media screen and (max-width: 1000px) {

  .moneyBar {
    grid-template-columns: 50% 50%;
    justify-self: center;
    row-gap: .5rem;
    align-self: center;
    margin-top: .75rem;
  }

  .moneyBarItem {
    width: 90%;
    align-self: center;
  }

  .moneyBarLabel {
    font-size: .8rem;
  }


  .chartContainer {
    display: flex;
    flex-direction: column;
  }

  .dashboard-container {
    align-self: flex-start;
    width: 99vw;
  }

  .toolbar {
    margin-bottom: 0rem;
  }

}