.dashboardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    position: relative;
    top: 10em
 }

 .dashboardItem {
    border: .1em solid orange;
    border-radius: 5%;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(111, 111, 111, 0.689);
 }

 .dashboardItem h2{
   color: rgb(209, 203, 195);
 }

 .dashboardItem h2:hover {
   cursor: pointer;
 }
