.tractors-container {
    width: 70%;
    height: 85vh;
    background-color: white;
    justify-self: center;
    margin-top: 2.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.tractors-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    justify-self: center;
}

.tractor-header-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 35rem;
}

.add-tractor-btn {
    color: white;
    background-color: rgb(129, 18, 255);
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 2.5rem;
}

.tractor-list {
    width: 95%;
    height: 83%;
    justify-self: center;
    justify-items: center;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 1rem;
    overflow-y: auto;
    padding: .1rem;
}

.tractor-item {
    width: 95%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    background-color: rgb(249, 249, 249);
}

.tractor-item-header {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin-bottom: .5rem;
}

.tractor-header-btns {
    gap: 1rem;
}

.tractor-info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.tractor-info-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.tractor-info h3,
.tractor-info p {
    font-family: Arial, Helvetica, sans-serif;
}

.modal-form {
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
}

.modal-input-row {
    margin: .25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: .5rem;
}

.modal-input-row input {
    width: 8rem;
    justify-self: flex-end;
}

.modal-actions {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.modal-save-btn {
    width: 6rem;
    height: 2.5rem;
    background-color: orange;
    border: none;
    color: white;
    border-radius: .5rem;
}

.modal-cancel-btn {
    width: 6rem;
    height: 2.5rem;
    border: .1rem solid orange;
    background-color: white;
    color: orange;
    border-radius: .5rem;
}

.new-tractor-form {
    background-color: white;
    border: none;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24rem;
    padding: 1rem;
}

.new-tractor-form h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.delete-tractor-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.delete-tractor-header p {
    color: red;
    font-weight: bold;
}

.delete-tractor-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.delete-tractor-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .25rem;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    
    .tractors-container {
        width: 90%;
        height: 88vh;
        margin-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .tractors-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
    }

    .tractors-header-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .tractor-header-inputs {
        width: 100%;
        justify-content: space-between;
        margin-top: .5rem;
    }

    .users-search-input {
        width: 10rem;
    }

    .add-tractor-btn {
        width: 8rem;
    }

    .tractor-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
    }

    .tractor-item {
        width: 85%;
    }
}