.jobs-page-container {
    height: 93.75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.view-jobs-toolbar {
    position: absolute;
    width: 99%;
    height: 2.25rem;
    border-bottom: 4px solid #c7c7c7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.jobs-table-container {
    width: 99%;
    height: 90%;
    overflow-x: scroll;
    overflow-y: auto;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding: .5rem;
}

.jobs-table {
    width: 98%;
    height: 30vh;
    border-collapse: collapse;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.jobs-table-header {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
}

.jobs-table-header th {
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 8rem;
}

.jobs-table-header th:hover {
    background-color: #e2d6bd;
}

.jobs-table-body tr {
    border-bottom: 1px solid #e0e0e0;
}

.jobs-table-body tr:nth-child(even) {
    background-color: #f9f9f9;
}

.jobs-table-body tr:hover {
    background-color: #ded6c3;
}

.jobs-table-body td {
    padding: 2px 15px;
    /* Minimal padding */
    line-height: 1;
    /* Tighten line height */
    vertical-align: middle;
    /* Center content vertically */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jobs-table-sort-indicator {
    margin-left: 5px;
    font-size: 0.8em;
}