.view-jobs-toolbar {
    position: absolute;
    height: 2.25rem;
    width: 90rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
}

.jobs-table-container {
    width: 80%;
    height: 50rem;
    overflow-x: scroll;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    padding: .5rem;
    justify-self: center;
    margin-top: 2rem;
    background-color: white;
}

.jobs-table {
    border-collapse: collapse;
    margin-top: 3rem;
    height: 80%;
    border-radius: .5rem;
}

.jobs-table-header {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
}

.jobs-table-header th {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 8rem;
    max-height: 4rem;
}

.jobs-table-header th:hover {
    background-color: #e2d6bd;
}

.jobs-table-body tr {
    height: 2.5rem !important;
    max-height: 2.5rem !important;
    min-height: 2.5rem !important;
    border-bottom: 1px solid #e0e0e0;
}

.jobs-table-body tr:nth-child(even) {
    background-color: #f9f9f9;
}

.jobs-table-body tr:hover {
    background-color: #ded6c3;
}

.jobs-table-body td {
    height: 2.5rem !important;
    max-height: 2.5rem !important;
    min-height: 2.5rem !important;
    line-height: 2.5rem !important;
    vertical-align: middle !important;
    padding: 0 8px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.jobs-table-sort-indicator {
    margin-left: 5px;
    font-size: 0.8em;
}