 .view-jobs-toolbar {
    position: absolute;
    height: 2.25rem;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    margin-top: .5rem;
}

.jobs-table-container {
    width: 80vw;
    height: 50rem;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    justify-self: center;
    position: relative;
    top: 8rem;
    background-color: white;
}

.jobs-table {
    border-collapse: collapse;
    margin-top: 3rem;
    border-radius: .5rem;
}

.jobs-table-header {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
}

.jobs-table-header th {
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 10rem;
    height: 3rem;
}

.jobs-table-header th:hover {
    background-color: #e2d6bd;
}

.jobs-table-body tr {
    height: 4.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.jobs-table-body tr:nth-child(even) {
    background-color: #f9f9f9;
}

.jobs-table-body tr:hover {
    background-color: #ded6c3;
}

.jobs-table-body td {
    vertical-align: middle !important;
    padding: 0 8px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.jobs-table-sort-indicator {
    margin-left: 5px;
    font-size: 0.8em;
}

@media screen and (max-width: 1000px) {
    
    .jobs-table-container {
        width: 90%;
        margin-top: 1rem;
    }

    .jobs-table-header th {
        max-width: 8rem;
        min-width: 2rem;
    }

    .jobs-table-body td {
        max-width: 8rem;
        min-width: 2rem;
    }

    .jobs-table {
        padding-bottom: 1rem;
    }

}