/* Toolbar */
.toolbar {
   background-color: rgb(248, 190, 109);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 4rem;
   position: fixed;
}

.toolbar-header {
   color: rgb(242, 242, 242);
   justify-self: flex-start;
   margin: 1rem;
}

.menu {
   color: whitesmoke;
   margin-right: 2rem;
   font-size: 2.5rem;
}

.user-icon:hover {
   cursor: pointer;
}

.user-menu {
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   width: 0;
   right: 20rem;
   height: 97vh;
   right: 0;
   background-color: white;
   top: 4rem;
   z-index: 99999; /* ensure menu appears above charts/overlays */
   opacity: 0;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   transition: right .5s ease, width .5s ease, opacity .25s ease;
}

.menu-open {
   height: 97vh;
   width: 20rem;
   opacity: 1;
   right: 0;
   z-index: 99999;
}

.user-menu-item {
   text-decoration: none;
   color: rgb(206, 137, 9);
   font-size: 1.5rem;
   text-align: center;
   width: auto;
   padding-bottom: 1rem;
   padding-top: 1rem;
   width: 100%;
   border-bottom: solid .1rem lightgrey;
   position: relative;
   z-index: 99999;
}

.user-menu-item:hover {
   background-color: #e7e7e7;
}


.user-menu-item:hover {
   cursor: pointer;
}

.toolbarItem {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: transparent;
   border: none;
   cursor: pointer;
}

.landing-menu {
   width: 15%;
   height: 90%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}

.login-btn-container {
   border-right: .1rem solid white;
   width: 33%;
   height: 90%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.landing-btn {
   background: inherit;
   /* Takes the background of its parent */
   color: white;
   font-weight: bold;
   border: none;
   /* Removes default border */
   padding: 0;
   /* Removes default padding */
   font: inherit;
   /* Inherits font properties from parent */
   cursor: pointer;
   /* Changes cursor to pointer on hover */
   outline: none;
   /* Removes focus outline */
   font-size: 1.2rem;
}

.link {
   text-decoration: none;
   color: white;
   font-size: 1.2rem;
}

.link:hover {
   cursor: pointer;
}

@media screen and (max-width: 1000px) {
   .toolbar {
      height: 4vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   .menu {
      color: whitesmoke;
      font-size: 1.2rem;
   }

   .fa-bars {
      margin-right: .5rem;
      font-size: 1.5rem;
   }

   .user-menu {
      position: fixed;
      right: 0;
      width: 0;
      opacity: 0;
      padding: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      height: 95vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: flex-start;
      transition: width .5s ease, opacity .5s ease;
      margin-top: 0;
      top: 2.25rem;
      z-index: 99999;
   }

   .menu-open {
      width: 50vw;
      height: 97vh;
      opacity: 1;
      margin-top: 0;
      z-index: 99999;
   }

   .user-menu-item {
      font-size: 1rem;
      text-align: center;
      width: auto;
      padding-bottom: 1rem;
      padding-top: 1rem;
      width: 90%;
      border-bottom: solid .1rem lightgrey;
   }

   .toolbar-header {
      font-weight: 300;
      font-size: .9rem;
      margin-left: 1rem;
      color: white;
   }

   .overlay {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;
   }
}