/* Toolbar */
.toolbar {
    background: linear-gradient(180deg, rgb(255, 140, 0), rgb(228, 228, 228) 160%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    width: 100%;
}

.toolbarHeader {
    color: rgb(242, 242, 242);
    font-weight: 300;
    font-size: 1.3em;
    position: relative;
    left: 10px;
}

/* Side Menu */
 .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    opacity: 0;
    z-index: 1;
    top: 0px;
    left: -250px;
    background: linear-gradient(180deg, rgb(255, 140, 0), rgb(228, 228, 228) 130%);
    overflow-x:hidden;
    transition-property: left;
    transition-duration: .6s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
 }

 .sideNavLink {
   margin: 1em;
 }

 .sidenav a {
    text-decoration: none;
    font-size: 32px;
    color: #030303;
 }

 .sidenav a:hover {
    color: #f1f1f1;
 }

 .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }

 .sidenav .closebtn:hover {
    cursor: pointer;
 }

@media screen and (max-width: 1000px) {
   .toolbar {
      height: 4rem;
   }

   .sidenav {
      width: 100%;
      left: -100%
   }
}