p {
   font-size: 1.2rem;
}

.pageContainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.headerContainer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 1rem
}

.usersContainer {
   border: .1rem solid black;
   background-color: white;
   border-radius: .5rem;
   padding: .1rem;
   width: 60%;
   margin-top: 2rem;
}

.editButtonsContainer {
   border-bottom: .1rem solid black;
   height: 3rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}

.addNewUserContainer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
}

#edit-pencil:hover {
   cursor: pointer;
}

.userGrid {
   display: grid;
   grid-template-columns: 50% 50%;
   padding: .1rem;
   width: 100%;
}

.displayDriversItem {
   display: grid;
   grid-template-columns: 35% 65%;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   background-color: white;
   width: auto;
}

.driverInfo {
   display: grid;
   grid-template-columns: auto;
}

.editBtnContainer {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: 80;
}

@media screen and (max-width: 1000px) {
   .usersDisplay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .headerContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
   }

   .dispatcherItem {
      width: 100%;
   }

   .dispatcherItem p{
      font-size: 1rem;
   }

   .displayDriversItem {
      width: 100%;
   }

   .displayDriversItem p{
      width: 100%;
      font-size: 1rem;
   }
}