/* SnapScrollLandingPage.css */
.snap-container {
  height: 100vh;
  /* Subtract toolbar height */
  /* Align with toolbar bottom */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.snap-container::-webkit-scrollbar {
  display: none;
}

.snap-tile {
  height: 100vh;
  /* Match container height */
  width: 100%;
  position: relative;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-background {
  position: absolute;
  top: 3rem;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left;
  z-index: 1;
  opacity: .33;
  mask-image: gradient(linear, left, right,
      from(rgb(59, 17, 17)), to(rgb(40, 63, 132)));
}

.first-tile-content {
  position: relative;
  z-index: 2;
  text-align: left;
  background-color: rgba(225, 167, 114, 0.5);
  padding: 2rem;
  border-radius: 0.75rem;
  width: 28rem;
  color: white;
  left: 30%;
  bottom: 2rem;
}

.second-tile-content {
  position: relative;
  z-index: 2;
  text-align: left;
  background-color: rgba(225, 167, 114, 0.5);
  padding: 2rem;
  border-radius: 0.75rem;
  width: 28rem;
  color: white;
  right: 34%;
  bottom: 2rem;
}

.third-tile-content {
  position: relative;
  z-index: 2;
  text-align: left;
  background-color: rgba(225, 167, 114, 0.5);
  padding: 2rem;
  border-radius: 0.75rem;
  width: 28rem;
  color: white;
  left: 30%;
  bottom: 2rem;
}

.tile-header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tile-description {
  font-size: 1.5rem;
}

.first-tile-btn {
  background-color: #eb9225;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
  width: 7rem;
  height: 3vh;
  position: relative;
  margin-top: 1.2rem;
  left: 33%
}

.first-tile-btn:hover {
  background-color: #c6721e;
}

.dot-navigation {
  position: fixed;
  right: .5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: rgb(238, 188, 124);
}