 * {
    margin: 0;
    padding: 0;
 }

 /* src/index.css */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 /*** Site Wide ***/

 body {
    background-color: rgb(217, 217, 217);
 }

 h1,
 h2,
 h3,
 p {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
 }

 ::-webkit-scrollbar {
    width: 10px
 }

 ::-webkit-scrollbar-track {
    background: rgb(239, 236, 234);
 }

 ::-webkit-scrollbar-thumb {
    background: rgb(176, 148, 127);
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
 }