 * {
    margin: 0;
    padding: 0;
 }

 /* src/index.css */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 @layer components {
    .detailsInput {
       @apply self-center justify-self-center pt-4 pb-4 w-full flex flex-col;
    }

    .detailsBody {
      @apply max-sm:flex-col flex flex-row
    }

    .autocompleteWrapper {
      @apply flex flex-col self-center justify-items-center justify-between m-4 w-[18rem]
         max-sm:m-1
    }

    .addressInput {
      @apply p-2 border border-gray-500 rounded-md w-[18rem] max-sm:p-1
    }

    .dateInput {
      @apply border border-gray-500 rounded-md p-1
    }

    .radioBtnContainer {
      @apply flex flex-row justify-between m-4 w-[18rem] max-sm:m-1
    }

    .jobInputRow {
      @apply flex flex-row justify-between items-center m-4 w-4/5 max-sm:m-2
    }

    .resultsContainer {
      @apply flex flex-col justify-start items-center w-[60rem] justify-self-center
       bg-white rounded-b-md rounded-t-md
    }

    .breakdownContainer {
      @apply flex flex-row justify-between w-full
    }

    .revenueExpenses,
    .profitSummary {
      @apply flex flex-col justify-start items-center bg-white w-full mb-4
    }

 }

 body {
    background-color: rgb(217, 217, 217);
 }

 h1,
 h2,
 h3,
 p {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
 }

 ::-webkit-scrollbar {
    width: 10px
 }

 ::-webkit-scrollbar-track {
    background: rgb(239, 236, 234);
 }

 ::-webkit-scrollbar-thumb {
    background: rgb(176, 148, 127);
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
 }