.users-display-container {
    width: 70%;
    height: 93.7vh;
    background-color: rgb(241, 241, 241);
    justify-self: center;
    box-shadow: 0px 20px 15px 0px rgba(0,0,0,0.75);
}

.user-list {
    
}

.user-item {
    width: 10rem;
    height: max-content;
}